{% extends "navbar.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}




<div class="container-fluid my-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" height="80%">
            <img class="d-block w-100" src="https://images.unsplash.com/photo-1487014679447-9f8336841d58?auto=format&fit=crop&q=80&w=1605&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="First slide">
            <div class="carousel-caption" > 
                <h5 style="background:black; border-radius:11px" >Welcome To E-Commerce</h5>
            </div>
          </div>

          <div class="carousel-item">
            <img class="d-block w-100" src="https://media.istockphoto.com/id/1215812761/photo/internet-shopping-with-laptop.jpg?s=1024x1024&w=is&k=20&c=cO7GUlxT4HR7v-EDjelC92RfNLqbR_7DH9reoGuPE1g=" alt="Second slide">
            <div class="carousel-caption" > 
              <h5 style="background:black; border-radius:11px" >Welcome To E-Commerce</h5>
          </div>
          </div>
          
          <div class="carousel-item">
            <img class="d-block w-100" src="https://media.istockphoto.com/id/1301140253/photo/man-browsing-online-store-with-wide-variety-of-products-available.jpg?s=1024x1024&w=is&k=20&c=HFA3SUBR7pIynUo1f74-0c-IctuJjg-DBXjkTdCA4bA=" alt="Third slide">
            <div class="carousel-caption" > 
              <h5 style="background:black; border-radius:11px" >Welcome To E-Commerce</h5>
          </div>
          </div>
        </div>
      </div>
</div>

{% endblock body %}

