{% extends "navbar.html" %}
{% load static %}
{% block title %}SELLER{% endblock title %}

{% block body %}

<table class="table">
    <thead class="thead-default">
        <tr>
            <th>Item Id</th>
            <th>Item Group</th>
            <th>Item Description</th>
            <th>Stock Quantity</th>
            <th>Item Rate</th>
        </tr>
    </thead>

    <tbody>
    
        <tr>
            {% comment %} <td>{{item.0.id}}</td>
            <td>{{item.0.item_group}}</td>
            <td>{{item.0.item_desc}}</td>
            <td>{{item.0.stock_qty}}</td>
            <td>{{item.0.item_rate}}</td> {% endcomment %}
        </tr>
        
   

    {% for i in item %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.item_group}}</td>
        <td>{{i.item_desc}}</td>
        <td>{{i.stock_qty}}</td>
        <td>{{i.item_rate}}</td>
    </tr>
{%endfor%}

{% endblock body %}
