{% extends "navbar.html" %}

{% block title %}STOCK DETAILS{% endblock title %}

{% block body %}

<table class="table">
    <thead class="thead-default">
        <tr>
            <th>S.No.</th>
            <th>Item Group</th>
            <th>Item Description</th>
            <th>Stock Quantity</th>
            <th>Item Rate</th>
        </tr>
    </thead>

    <tbody>
    {% for i in item %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.item_group}}</td>
            <td>{{i.item_desc}}</td>
            <td>{{i.stock_qty}}</td>
            <td>{{i.item_rate}}</td>
        </tr>
    {%endfor%}


{% endblock body %}